name: build
on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
          
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Release APK
        # assembleRelease strips debug info and optimizes code
        run: ./gradlew assembleRelease

      - name: Sign APK
        id: sign_app
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          # This tells the action to stop guessing and look in the 2026 standard path
          BUILD_TOOLS_VERSION: "35.0.0" 

      - name: Upload Production APK
        uses: actions/upload-artifact@v4
        with:
          name: WebDAV-Provider-Release
          path: ${{ steps.sign_app.outputs.signedReleaseFile }}
